.courseContentWrapper {
  padding: 10px;

  display: flex;
  flex-flow: column;
}
.courseContents {
  position: relative;
  height: 100%;
}
.courseContentWrapper > .contentType {
  display: flex;
  font-weight: bolder;
  color: black;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 1em;
  flex: 1;
  min-height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 800px) {
  .courseContentWrapper {
    display: flex;
    flex-flow: row;
  }
  .courseContentWrapper > .contentType {
    max-width: 200px;
    min-height: 150px;
    margin: 10px;
    padding: 1em;
  }
}
